volumes:
  cardano-data: {} 
  db-sync-data: {}
  postgres-data: {}
  ogmios-data: {}
  kupo-data: {}

services:
  cardano-node:
    image: ghcr.io/intersectmbo/cardano-node:9.1.0
    restart: unless-stopped
    container_name: cardano-node
    ports:
      - "3001:3001"
    environment:
      - NETWORK=preview
      - CARDANO_NODE_SOCKET_PATH=/ipc/node.socket
    volumes:
      - ${HOME_IPC}:/ipc   # Use ${HOME_IPC} from .env
      - $CARDANO_DATA_DIR:/data

  postgres:
    image: postgres:15.3
    container_name: db-sync-postgres
    environment:
      - POSTGRES_PASSWORD=password123
      - POSTGRES_DB=cexplorer
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  db-sync:
    image: ghcr.io/intersectmbo/cardano-db-sync:13.5.0.2
    container_name: db-sync
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - NETWORK=preview
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      - POSTGRES_DB=cexplorer
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password123
    volumes:
      - ${HOME_IPC}:/node-ipc  # Use ${HOME_IPC} from .env
      - db-sync-data:/var/lib

  ogmios:
    image: cardanosolutions/ogmios:v6.5.0
    container_name: ogmios
    restart: unless-stopped
    environment:
      - DATA_DIR=/data
    ports:
      - "1337:1337"
    volumes:
      - ${HOME_IPC}:/ipc  # Use ${HOME_IPC} from .env
      - ogmios-data:/data
    command:
      - --node-socket
      - /ipc/node.socket
      - --node-config
      - /config/preview/cardano-node/config.json
      - --host
      - 0.0.0.0

  kupo:
    image: cardanosolutions/kupo:v2.9.0
    container_name: kupo
    command: 
      - --node-socket
      - /ipc/node.socket
      - --node-config
      - /config/config.json
      - --host
      - 0.0.0.0
      - --workdir
      - /db
      - --match 
      - "*"
      - --since
      - "54412148.656e903c510441032ad566d26fecf7be98882bdefde6a1ed961cd8e7bfa9d18a"
    ports:
      - "1442:1442"
    volumes:
      - kupo-data:/db
      - ${HOME_IPC}:/ipc  # Use ${HOME_IPC} from .env
      - $CARDANO_CONFIG_DIR:/config